* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: rgb(255, 235, 235);
    --secondary-color: rgb(173, 228, 219);

    --default-margin: 1em;
}

html {
    margin: var(--default-margin);
    background-color: var(--primary-color);
}

.intro {
    width: 75ch;
    padding: 1rem 0;
}

.button-textarea-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.save-btn {
    padding: 1em;
    border: none;
    border-radius: 15%;
    background-color: var(--secondary-color);
}

.output-container {
    display: grid;
    grid-template-columns: calc(80vw - calc(2 * var(--default-margin))) repeat(2, auto);
}

.output-container > * {
    border: 1px solid #645353;
    padding: 0.25em;
    overflow: scroll;
}