* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-background: rgba(255, 235, 235, 1);
    --color-primary-button: rgba(173, 228, 219, 1);
    --color-secondary-button: rgba(109, 169, 228, 1);
    --color-accent: rgba(246, 186, 111, 1);

    --default-margin: 1em;
}

html {
    margin: var(--default-margin);
    background-color: var(--color-background);
}

.intro {
    width: 75ch;
    padding: 1rem 0;
}

.button-textarea-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.buttons {
    padding: 1em;
    border: none;
    border-radius: 0.75em;
}

.save-btn {
    background-color: var(--color-primary-button);
}

.delete-btn {
    background-color: var(--color-secondary-button);
}

.output-container {
    display: grid;
    grid-template-columns: auto repeat(2, 2em);
}

.output-container > * {
    border: 1px solid #645353;
    padding: 0.25em;
    overflow: scroll;
}

i {
    font-style: normal;
}