* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --default-margin: 1em;
}

html {
    margin: var(--default-margin);
}

.intro {
    width: 75ch;
    padding: 1rem 0;
}

.button-textarea-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.output-container {
    display: grid;
    grid-template-columns: calc(80vw - calc(2 * var(--default-margin))) repeat(2, auto);
}

.output-container > * {
    border: 1px solid #645353;
    padding: 0.25em;
    overflow: scroll;
}